.container{
    /* --BACKGROUND-COLOR: green; */
    /* background-color: var(--school-bg); */
    background-color: var(--school-bg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}