.Task {
    background-color: rgb(178, 178, 178);
    border-radius: 5px;
    box-shadow: rgba(239, 239, 239, 0.16) 0px 1px 4px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    touch-action: none;
}