.SemesterColumn{
    border: 3px solid green;
    box-shadow: 0 0 .3rem gray;
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 12%;
    align-items: center;
    background: white;
}